.label-kalbe-form {
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 20px;
}

.sublabel-kalbe-form {
  font-style: normal;
  font-weight: normal;
  font-size: 0.875em;
  line-height: 18px;
}
